.nav {
  &__list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

    &--item {
      margin-right: 32px;
    }
  }
  &__link {
    color: #fff;
    text-decoration: none;

    &.active {
      text-decoration: underline;
    }
  }
}
